<!DOCTYPE html>
<html>
  <head>
    <title>RailsAjaxDemo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "include/navbar" %>
    <%= render "include/jumbotron" %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</html>
